@import url("https://fonts.googleapis.com/css?family=Poppins:400,600&display=swap");
 *, *:before, *:after {
	 box-sizing: border-box;
}
 :root {
	 --primary-font: "Poppins", sans-serif;
	 --margin-x: 1em;
	 --accent-1: #6d6ae2;
	 --accent-2: #563677;
	 --accent-3: #6865ff;
	 --black: #212733;
	 --pink: #f3659a;
}
 .accent-1 {
	 color: var(--accent-1);
}
 .accent-2 {
	 color: var(--accent-2);
}
 .pricing {
	 text-align: center;
	 margin: 0 1em;
}
 .plan-duration {
	 display: flex;
	 justify-content: space-around;
	 align-items: center;
	 margin: 0 auto;
	 width: 200px;
}
 .plan-duration__toggle {
	 width: 45px;
	 height: 25px;
	 background: linear-gradient(130deg, var(--pink), #4e93f1);
	 border-radius: 16px;
	 display: flex;
	 align-items: center;
	 justify-content: flex-start;
	 transition: justify-content 0.2s;
}
 .plan-duration__toggle-ball {
	 --size: 18px;
	 margin: 0 4px;
	 width: var(--size);
	 height: var(--size);
	 border-radius: 50%;
	 background: white;
}
 .plan-duration__text {
	 color: #212733 99;
}
 .plan-duration--active {
	 color: var(--black);
	 font-weight: bold;
}
 .plans__list {
	 display: flex;
	 flex-wrap: wrap;
	 justify-content: center;
	 margin: 1.5em 0;
}
 .plan__item {
	 --radius: 10px;
	 border-radius: var(--radius);
	 box-shadow: 1px 2px 15px rgba(80, 80, 80, 0.12);
	 margin: 1rem;
	 display: flex;
	 flex-direction: column;
	 justify-content: space-between;
}
 .plan__item--active {
	 box-shadow: 0 0 55px rgba(80, 80, 80, 0.25);
	 height: 350px;
}
 .plan__title {
	 color: var(--accent-1);
	 margin-bottom: -0.5em;
}
 .plan__price {
	 font-size: 2.5em;
}
 .plan__price:before {
	 content: "$";
	 font-size: 1rem;
}
 .plan__cta-link {
	 color: var(--accent-3);
	 padding: 1em 5em;
	 border-radius: 0 0 var(--radius) var(--radius);
}
 .plan__cta-link--active {
	 background: var(--accent-3);
	 color: white;
}
 .plan__feature-list {
	 display: grid;
	 grid-row-gap: 0.6em;
	 justify-content: space-around;
}
 .plans__special-offer a {
	 color: var(--accent-2);
	 text-decoration: underline;
	 text-decoration-color: var(--accent-2);
}
 .currency {
	 margin: 2em var(--margin-x);
	 display: grid;
	 justify-content: flex-end;
	 grid-gap: 0.5em;
	 grid-auto-flow: column;
	 align-items: center;
}
 .currency__select {
	 border-radius: 15px;
	 border: none;
	 background: #eee;
	 font-weight: bold;
	 padding: 2px 4px;
}
 @media only screen and (min-width: 618px) and (max-width: 900px) {
	 .plan__item--active {
		 order: 1;
	}
}
 